.chart-bar {
    height: 100%;
    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-bar__inner {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #fbe7c9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chart-bar__fill {
    background-color: #e6a441;
    width: 100%;
    transition: all 0.3s ease-out;
}

.chart-bar__label {
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
    color: #3b3b3b;
}